body {
  font-family: 'Spectral';
  font-size: 19px;
  background: black;
  color: red;
  text-align: center;
}

#menu img {
  position: relative;
  height: 350px;
  width: 450px;
}

h1 {
  border: double;
  border-color: purple;
}

.link {
  color: lightblue;
}

.featured {
  border: solid;
  border-color: silver;
}

.best {
  position: absolute;
  top: 400px;
  left: 200px;
  font-size: 26px;
  border: solid;
  border-color: lightblue;
  padding: 15px;
}
